[submodule "pipeline/video/SceneSeg"]
	path = pipeline/video/SceneSeg
	url = https://github.com/anyirao/SceneSeg.git
[submodule "pipeline/video/movienet-tools"]
	path = pipeline/video/movienet-tools
	url = https://github.com/movienet/movienet-tools.git
[submodule "pipeline/video/VideoLLaMA3"]
	path = pipeline/video/VideoLLaMA3
	url = https://github.com/DAMO-NLP-SG/VideoLLaMA3.git
[submodule "pipeline/video/GVL"]
	path = pipeline/video/GVL
	url = https://github.com/zjr2000/GVL.git
[submodule "pipeline/audio/TVSM"]
	path = pipeline/audio/TVSM
	url = https://github.com/biboamy/TVSM-dataset.git
[submodule "pipeline/audio/uvr"]
	path = pipeline/audio/uvr
	url = https://github.com/seanghay/uvr.git
[submodule "pipeline/audio/Music2Emotion"]
	path = pipeline/audio/Music2Emotion
	url = https://github.com/AMAAI-Lab/Music2Emotion.git
